*{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
}
#menu_respon{
	display: none;
	position: absolute;
	width: 70%;
	/*left: -700px;*/
	height: 100%;
	background: linear-gradient(#FC634B, #D77C51);
	color: white;
}
#menu_respon img{
	border: 1px solid white;
	border-radius: 50%;
	width: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#menu_respon p{
	margin-top: 10px;
	margin-bottom: 40px;
}
#title_respon{
	text-align: center;
}
#respon{
	padding-left: 25px;
}
#respon div{
	margin-bottom: 30px;
	cursor: pointer;
}
.icon_respon{
	width: 5%;
}
#slide_respon{
	position: relative;
}
#slidedown_respon{
	margin-top: 30px;
	width: 20%;
	display: none;
}
#slidedown_respon li{
	list-style: none;
	margin-bottom: 30px;
}
#menu ul{
	float: right;
	margin-right: 3%;
}
#menu li{
	list-style: none;
	float: left;
	font-size: 20px;
	margin-left: 20px;
	cursor: pointer;
}
#logo{
	float: left;
	margin-left: 3%;
}
#menu{
	height: 60px;
	line-height: 60px;
	background: linear-gradient(to bottom right, #CF5C3E, #D98455);
	color: white;
}
#menu p{
	font-size: 20px;
}
#title{
	font-size: 20px;
	text-align: right;
}
#title p{
	display: inline-block;
	margin-right: 3%; 
}
#slide{
	position: relative;
}
#slide_down{
	display: none;
	width: 100%;
	position: absolute;
	background-color: #DE5446;
	opacity: 0.9;
}
#slide_down li{
	text-align: center;
	margin: 0;
	width: 100%;
	border-top: 1px solid gray;
}
#slide_sp{
	border: none !important;
}
#container{
	background: linear-gradient(#FC9E55, #FB003B);
	color: white;
	text-align: center;
	height: 650px;
}
#container h1{
	display: inline-block;
	margin-top: 120px;
	margin-bottom: 15px;
	font-size: 40px;
}
#container h2{
	font-size: 30px;
	margin-bottom: 50px;
}
#container div{
	width: 13%;
	height: 45px;
	line-height: 45px;
	border: 1px solid white;
	font-size: 20px;
	display: inline-block;
}
.active{
	display: block !important;
	left: 0 !important;
}
#menu_bar{
	display: none;
}
@media screen and (max-width: 780px){
	#menu li{
		display: none;
	}
	#menu_bar{
		display: block !important;
	}
	#container div{
		width: 30%;
	}
}
